# Versions figées générées depuis un conteneur fonctionnel
# Date: 2026-01-12
# Utilisez ce fichier pour garantir la reproductibilité des builds

alembic==1.18.0
aniso8601==10.0.1
anyio==4.12.1
APScheduler==3.11.2
async-timeout==5.0.1
attrs==25.4.0
bcrypt==5.0.0
blinker==1.9.0
CacheControl==0.14.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
et_xmlfile==2.0.0
firebase_admin==7.1.0
Flask==3.1.2
flask-cors==6.0.2
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
flask-request-id-header==0.1.1
flask-restx==1.3.2
Flask-SQLAlchemy==3.1.1
gevent==25.9.1
google-api-core==2.29.0
google-auth==2.47.0
google-cloud-core==2.5.0
google-cloud-firestore==2.22.0
google-cloud-storage==3.7.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
greenlet==3.3.0
grpcio==1.76.0
grpcio-status==1.76.0
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
Mako==1.3.10
MarkupSafe==3.0.3
msgpack==1.1.2
openpyxl==3.1.5
packaging==25.0
pillow==12.1.0
proto-plus==1.27.0
protobuf==6.33.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pycryptodome==3.23.0
pycryptodomex==3.23.0
PyJWT==2.10.1
PyMySQL==1.1.2
python-dotenv==1.2.1
redis==7.1.0
referencing==0.37.0
reportlab==4.4.7
requests==2.32.5
rpds-py==0.30.0
rsa==4.9.1
SQLAlchemy==2.0.45
tomli==2.4.0
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.3
Werkzeug==3.1.5
xlsxwriter==3.2.9
zope.event==6.1
zope.interface==8.2
