click>=8.1.7
Flask
Flask-SQLAlchemy
flask_migrate
flask_login
flask_cors
flask_request_id_header
flask_mail
flask-httpauth
pymysql
itsdangerous
xlsxwriter
openpyxl
requests
python-dotenv
flask-restx
apscheduler
pycryptodome
pillow
redis
async-timeout
tomli
cryptography
reportlab
bcrypt
pycryptodomex
PyJWT
firebase-admin
gunicorn
gevent